//backgrounds
$main-bg: #ffffff;

$description-bg: #fffbc8;
$range-greater-bg: #b1e19b;
$range-smaller-bg: #ace2f8;
$icons-bg: #dadada;
$comment-bg: #f2fbff;
$send-button-bg: #fdd639;

$footer-bg: #f2f2f2;

//paddings
$body-padding: 22px;
$footer-padding: 20px 21px 30px 21px;

//margins
$card-padding: 130px;

//font
$fontFamily: Arial;
$font-dark: #333333;
$font-light: #808080;
$font-link: #005da1;

@font-face {
	font-family: "Arial";
	src: url("~@/assets/fonts/ArialRegular.eot");
	src: url("~@/assets/fonts/ArialRegular.eot?#iefix") format("embedded-opentype"),
		url("~@/assets/fonts/ArialRegular.woff") format("woff"),
		url("~@/assets/fonts/ArialRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

:export {
	range_greater: $range-greater-bg;
	range_smaller: $range-smaller-bg;
}
